.container {
  text-align: left;
  margin-top: 50px;
}

.center-button {
  background-color: rgba(169, 169, 169, 0.174);
  color: rgb(6, 5, 5);
  text-decoration: none;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 5px;
}